#container{
    background-color: rgb(126, 126, 250);
}

img{
    height: 20px;
    width: 20px;
}

.doo{
    display: inline-block;
    font-size: 10px;
    margin-left: 10px;
    padding-top: 10px;
}

.dood{
    display: inline;
    font-size: 10px;
    margin-left: 100px;
    
}